$size-font-s: 12px;
$size-font-m: 19px;
$size-font-l: 30px;

$gap-s: 8px;
$gap-m: 13px;
$gap-l: 20px;

$radius-s: 12px;
$radius-m: 19px;

$col-black: #202020;
$col-bg: var(--tg-theme-bg-color);
$col-font: var(--tg-theme-text-color);
$font: 'Roboto', sans-serif;
